*{
    border: 0px solid #ff0000
}

body{
    margin: 30px;
    background-color: black;
    
}

#content{
    background-color: #1e3d4c;
    padding: 5px;
    min-height: 600px;
    max-width: 700px;
    min-width: 400px;
    margin: auto;
    
}

#header1{
    max-width: 700px;
    min-width: 400px;
    height: 270px;
    background-image: url("../assets/header.png");
    object-fit: contain;
    
}

.mainMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(22, 22, 22, 0.5);

}

.btnMainMenu {
    float: left;
    padding: 10px 10px 10px 10px;
}
.btnMainMenu:hover {
    background-color: #111;

}
.btnMainMenu a{
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    font-family: verdana;
    font-size: 20px;
    text-shadow: 3px 3px 3px #000000;
    color: white;
}
.btnMainMenu a:hover{

    color: #dfdf00;
}


.data{
    color: white
}

